<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMI</title>
</head>

<body>
    <div class="titulo">
        <h2>Bienvenido al CMI</h2>
    </div>
    <div id="ejercicio2">
        <form action="topUsuariosCriticos/" method="post">
            <p>Introduce una cantidad de usuarios: </p>
            <input type="number" name="numeroUsuarios">
            <br>
            <p>¿Mostrar Usuarios con mas o menos del 50% de spams clicados?</p>
            Mas del 50%
            <input type="radio" name="50mas"> Menos del 50%
            <input type="radio" name="50menos">
            <button id="unselect" onclick="unselect()">Deseleccionar</button>
            <input type="submit" name="submitUsuarios" value="Mostrar">
            <script>
                function unselect() {
                    document.querySelector('[name=50<]').forEach((x) => x.checked = false);
                    document.querySelector('[name=50>]').forEach((x) => x.checked = false);
                }
            </script>
        </form>
        <form action="topWebsVulnerables/" method="post">
            <p>Introduce una cantidad de webs: </p>
            <input type="number" name="numeroWebs">
            <br>
            <input type="submit" name="submitWebs" value="Mostrar">
        </form>
    </div>
    <div class="vulnerabilidades">
        <p>Últimas 10 vulnerabilidades</p>
        <form action="lastVulnerabilities/" method="get">
            <input type="submit" value="Mostrar">
        </form>
    </div>
</body>

</html>