<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMI</title>
</head>

<body>
    <div class="titulo">
        <h2>Bienvenido al CMI</h2>
    </div>
    <div id="ejercicio2">
        <form action="topUsuariosCriticos/" method="post">
            <p>Introduce una cantidad de usuarios: </p>
            <input type="number" name="numeroUsuarios">
            <br>
            <input type="submit" name="submitUsuarios" value="Mostrar">
        </form>
        <form action="topWebsVulnerables/" method="post">
            <p>Introduce una cantidad de webs: </p>
            <input type="number" name="numeroWebs">
            <br>
            <input type="submit" name="submitWebs" value="Mostrar">
        </form>
    </div>
</body>

</html>