<Title>Usuarios Criticos</Title>
<h2>Top {{ top }} de Usuarios más Críticos</h2>
<ul>
    {% for user in users %}
    <li>
        {{ user }}
    </li>
    {% endfor %}
</ul>
{% if usersMas %}
<h2>Usuarios con mas de un 50% de emails de spam clicados</h2>
<ul>
    {% for user in usersMas %}
    <li>
        {{ user }}
    </li>
    {% endfor %}
</ul>
{% endif %} {% if usersMenos %}
<h2>Usuarios con menos de un 50% de emails de spam clicados</h2>
<ul>
    {% for user in usersMenos%}
    <li>
        {{ user }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<a href="/index/">Home</a>